body {
  font-family: 'Poppins', sans-serif;
}

section {
  height: 400px;
  background-color:black;
  border:solid white 1px;

}

.header {
  background-color: gray;
  height: 100vh;
  font-size: 40px;
}

footer {
  height: 400px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  width: 500px;
  list-style-type: none;
  font-size: 30px;
}

li {
  width: 200px;
  text-decoration: none;
}

h1 {
  font-size: 90px;
}

.header-text {
  margin-left: 40px;

}